/* css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005a9e; /* Bleu institutionnel */
    color: white;
    padding: 1rem 2rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #004a80;
    padding: 0.5rem;
}

nav a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #007bff;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2, h3 {
    color: #005a9e;
}

.chart-container {
    width: 100%;
    margin-top: 2rem;
}


.chart-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}

.chart-item p {
    font-weight: bold;
    margin-top: 1rem;
    color: #333;
}


.chart-container-grid.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de taille égale */
    gap: 2rem;
    align-items: start;
}


/* image accueil */
.footer-bleed{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  min-height: 260px;
  background: url("../accueil.webp") center/cover no-repeat;
  display: block;
}
html, body { overflow-x: hidden; } 

.footer-img{
  margin: 24px auto 40px;
  display: flex;
  justify-content: center;
}
.footer-img img{
  display: block;
  width: auto;            /* garde la largeur native (pas d'étirement) */
  height: auto;
  max-width: 100%;        /* se réduit sur petits écrans */
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0,0,0,.08);
}

